/* body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
} */

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
    border-radius: 8px;
    border: 1px solid #cccccc;
    background: #fcfcfc;
    overflow: hidden;
}

.topContainer {
    display: flex;
    padding: 10px;
}

.topContainer img {
    height: 60px;
    width: 60px;
}

.trackInfo {
    flex: 1;
    padding: 0 15px;
    align-self: center;
}

.trackInfo p {
    margin: 0;
}

.bottomContainer {
    display: flex;
    align-items: center;
    align-content: center;
    border-bottom: 1px solid #ccc;
    padding: 0 10px 10px 10px;
}

.bottomContainer small {
    flex: 1;
}

.controlButton {
    align-self: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    width: 20px;
}

.volumeControl {
    display: flex;
    align-items: center;
    justify-content: center;
}

.volumeControl button{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.volumeControl .progressContainer {
    border: 1px solid #ccc;
    height: 5px;
    margin-right: 8px;
    width: 85px;
}
