.track {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.trackImage {
    height: 40px;
    width: 80px;
    background-repeat: no-repeat;
    background-size: contain;
}

.track p {
    font-size: 14px;
    margin: 0;
}

.track .trackInfo {
    align-self: center;
}

.track.active {
    background: #f0f0f0;
} 

.track:hover {
    cursor: pointer;
}
